.banner {
    height: 120px;
    border-bottom: solid 1px #A8A8A8;
}

.ecuador {
    background-image: url('../../imagenes/ecuador_ama_la_vida_logo.png');
    background-position: right center;
    background-repeat: no-repeat;
    width: 280px;
    height: 100px;
    float: right;
}

.logo {
    background-image: url('../../imagenes/logo.png');
    background-position: right center;
    background-repeat: no-repeat;
    width: 280px;
    height: 100%;
    float: left;
}