.texto {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.texto_informativo {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.texto_tipo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
